@import 'tailwindcss';

body,
html {
  padding: 0;
  margin: 0;
  font-family: Oswald, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  background-color: #050020;
}
/*  "blowbrush"; */

ul {
  list-style-type: none;
}
